14-natoma/ADPQ-Prototype/Source/Com.Natoma.Hhs.Prototype.UI/Com.Natoma.HhsPrototype.UserInterface/Service References/HhsPrototypeProc/ProtoProcSvc1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProtoProcSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/HhsPrototypeWebService/ProtoProcSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/HhsPrototypeWebService/ProtoProcSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/HhsPrototypeWebService/ProtoProcSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Com.Natoma.HhsPrototype.Proc.DataContracts" />
      <xsd:import schemaLocation="http://localhost/HhsPrototypeWebService/ProtoProcSvc.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProtoProcSvc_CreateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_CreateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_UpdateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_UpdateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_GetMessagesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesForUser" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_GetMessagesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_DeleteUserMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserMessages" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_DeleteUserMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IProtoProcSvc_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:portType name="IProtoProcSvc">
    <wsdl:operation name="CreateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtoProcSvc/CreateUserProfile" message="tns:IProtoProcSvc_CreateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtoProcSvc/CreateUserProfileResponse" message="tns:IProtoProcSvc_CreateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtoProcSvc/UpdateUserProfile" message="tns:IProtoProcSvc_UpdateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtoProcSvc/UpdateUserProfileResponse" message="tns:IProtoProcSvc_UpdateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtoProcSvc/SendMessage" message="tns:IProtoProcSvc_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtoProcSvc/SendMessageResponse" message="tns:IProtoProcSvc_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtoProcSvc/GetMessagesForUser" message="tns:IProtoProcSvc_GetMessagesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtoProcSvc/GetMessagesForUserResponse" message="tns:IProtoProcSvc_GetMessagesForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtoProcSvc/DeleteUserMessages" message="tns:IProtoProcSvc_DeleteUserMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtoProcSvc/DeleteUserMessagesResponse" message="tns:IProtoProcSvc_DeleteUserMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtoProcSvc/LogIn" message="tns:IProtoProcSvc_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtoProcSvc/LogInResponse" message="tns:IProtoProcSvc_LogIn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProtoProcSvc" type="tns:IProtoProcSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserProfile">
      <soap:operation soapAction="http://tempuri.org/IProtoProcSvc/CreateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap:operation soapAction="http://tempuri.org/IProtoProcSvc/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IProtoProcSvc/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForUser">
      <soap:operation soapAction="http://tempuri.org/IProtoProcSvc/GetMessagesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserMessages">
      <soap:operation soapAction="http://tempuri.org/IProtoProcSvc/DeleteUserMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IProtoProcSvc/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtoProcSvc">
    <wsdl:port name="BasicHttpBinding_IProtoProcSvc" binding="tns:BasicHttpBinding_IProtoProcSvc">
      <soap:address location="http://localhost/HhsPrototypeWebService/ProtoProcSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>