14-natoma/ADPQ-Prototype/Source/Com.Natoma.Hhs.Prototype.UI/Com.Natoma.HhsPrototype.UserInterface/Service References/HhsPrototypeProc/ProtoProcSvc43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Com.Natoma.HhsPrototype.Proc.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Com.Natoma.HhsPrototype.Proc.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalHouseholdLanguages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdditionalLanguages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CertificationInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ethnicity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FingerprintedAlternateCareProviders" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FingerprintingInformation" nillable="true" type="xs:string" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsApprovedForAdoptiveCare" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApprovedForKinshipCare" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAvailableForPets" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kids" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Neighborhood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfAdultsInHousehold" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NumberOfDependentsInHousehold" nillable="true" type="xs:long" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pets" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryHouseholdLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolDistrictInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialCarePreferences" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainingInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element name="Body" nillable="true" type="xs:string" />
      <xs:element name="DateSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsFlagged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSent" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
      <xs:element minOccurs="0" name="MessageType" type="xs:int" />
      <xs:element minOccurs="0" name="RecipientId" type="xs:long" />
      <xs:element minOccurs="0" name="SenderId" type="xs:long" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserProfileId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
</xs:schema>